%h1 Welcome !
%h2 Here is a quick overview of this template:
%p git have been init
%p devise is working fine, try it out :
= li¨nk_to "devise test" ,new_user_session_path
%p you have a backoffice here :
= link_to "/admin", admin_users_path

%p mailjet if configured with

